#name {
    text-transform: capitalize;
}

#class {
    text-transform: uppercase;
}

.error {
    color: red;
}

.header {
    padding-top: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: aquamarine;
}

form {
    border-radius: 8px;
    border: 1px solid green;
    padding: 0 5px;
}


.btn1,
.btn1 {
    float: right;
    margin: 0 5px;
}

span {
    display: inline-block;
    margin-left: 10px;
}