/* universal */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(180deg, rgb(45,47,60) 30%, rgb(10,7,26) 100%);
    max-width: 720px;
    margin: 0 auto;
    /* padding-top: 50px; */
    /* font-family: Times; */
}

.navbar {
  top:0px;
   max-width: 720px;
   margin: 0px auto;
   position: sticky;
   z-index: 999;
} 

@media only screen and (max-width: 576px) {

  nav.navbar{
    background: transparent !important;
    position: fixed;
    z-index: 999;
  }

.nav-item{
  background-color: rgb(62, 78, 92) ;
  padding: 5px;
}

  .navbar-toggler{
    background: rgb(133, 168, 199) !important;
    color: aliceblue !important;
  }
}

.pulse-on-hover:hover {
    animation-name: pulse;
    animation-duration: 1s;
    border: 1px solid aliceblue;
    
}

.card-col {
    background-color: transparent;
    padding: 0 !important;
    margin: 0;

}


.card {
    background: rgba(193, 176, 228, 0.2);
}

.card-body {
    padding: 5px;
}

#feedback {
  overflow: hidden;
}

section {
    background-image: linear-gradient(90deg, rgb(45,47,60) 50%, rgb(10,7,26) 100%);
    border-radius: 4px;
    opacity: 90%;
    margin-top: 10px;
}

header {
    padding-top: 80px !important;
    height: 350px;
    background-repeat:repeat;
    border-radius: 2%;
    background-size: contain;
    opacity: 90%;
    padding-top: 0px;
    max-width: 720px;
    margin: auto;
}


.nav-item:hover {
    border: 1px solid snow;
    border-radius: 4px; 
}
.nav-link:hover {
  color: white;
}
.active{
    border: 1px solid snow;
    background-color: rgba(47, 173, 47, 0.8);
    border-radius: 4px;
    color: aliceblue;
}

.text-high-light {
    color: linear-gradient(180deg, rgb(45,47,60) 30%, rgb(10,7,26) 100%);
}

.profile-pic {
    height: 90px;
    width: 90px;
}

#payment-box {
    position: fixed;
    bottom: 165px;
    left: 0px;
    z-index: 999;
    background-color: rgba(107, 117, 178, 0.5);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .payment-button {
    bottom: 165px;
    left: 0px;
    position: fixed;;
    z-index: 999;

  }

  .call-button {
    bottom: 90px;
    left: 0px;
    position: fixed;
    z-index: 999;
  }
 
  #social-buttons {
    bottom: -5px;
    position:sticky;
    width: 300px;
    margin: auto;
  }

.icon-img {
  width: 35px;
  height: 35px;
  margin:0 0 15px 10px;
}
.social-bg {
  border-radius: 10%;
  margin: 0 2px;
  width: 55px;
  height: 55px;
  background-color: rgb(133, 168, 199);
}

  #payment-content {
    padding: 0;
    height: 270px;
    width: 200px;
    overflow-y: scroll;
  }

  ul{
    list-style-type: none;
  }

  footer {
    padding-bottom: 100px;
  }


  